@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');

//https://use.fontawesome.com/releases/v5.3.1/js/all.js

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$red : #AC2C2E;

// Update Bulma's global variables
$family-sans-serif: 'Assistant', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$danger: $red;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma';

p {
    font-size: 20px;
    font-weight: 500;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.cardd {
    flex: 0 0 auto;
}

.heigh75{
    min-height: 75vh;
}