@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');

//https://use.fontawesome.com/releases/v5.3.1/js/all.js

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$red : #AC2C2E;
$white: #ffffff;

// Update Bulma's global variables
$family-sans-serif: 'Assistant', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$danger: $red;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma';

body {
    background-color: #fafafa;
}

a {
    color: #fff;
}

p {
    font-size: 20px;
    font-weight: 500;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.tilelike {
    flex: 0 0 auto;
    margin: 0 15px;
    height: 100%;
}

.hero {
    border-radius: 5%;
    background: rgb(107,28,29);
    background: linear-gradient(90deg, rgba(107,28,29,1) 0%, rgba(171,44,47,1) 31%, rgba(247,64,67,1) 100%);
}

.navbar {
    background: rgb(107,28,29);
    background: linear-gradient(90deg, rgba(107,28,29,1) 0%, rgba(171,44,47,1) 31%, rgba(247,64,67,1) 100%);
}

.profile-header {
    border-radius: 5%;
    padding-top: 100px;
}

.profile-header-text {
    color: white;
}

.footer {
    color:white;
    background: rgb(107,28,29);
    background: linear-gradient(90deg, rgba(107,28,29,1) 0%, rgba(171,44,47,1) 31%, rgba(247,64,67,1) 100%);
}

.box {
    -webkit-box-shadow: 24px 25px 35px -28px rgba(0,0,0,0.75);
    -moz-box-shadow: 24px 25px 35px -28px rgba(0,0,0,0.75);
    box-shadow: 24px 25px 35px -28px rgba(0,0,0,0.75);
}

.red-box {
    background-color: rgba(107,28,29,1);
    -webkit-box-shadow: 24px 25px 35px -28px rgba(255,255,255,0.75);
    -moz-box-shadow: 24px 25px 35px -28px rgba(255,255,255,0.75);
    box-shadow: 24px 25px 35px -28px rgba(255,255,255,0.75);
}

.box-title {
    color: white;
    background: rgb(107,28,29);
    background: linear-gradient(90deg, rgba(107,28,29,1) 0%, rgba(171,44,47,1) 31%, rgba(247,64,67,1) 100%);
}

.box-title > .title, .box-title > .subtitle {
    color: white;
}

.button-red {
    color: white;
    background: #AC2C2E;
    font-weight: 700;
    margin: 15px 0;
}

.button-red-paddingless {
    color: white;
    background: #AC2C2E;
    font-weight: 700;
    margin: 0 5px;
}

.button-white {
    color: rgb(107,28,29);
    background: white;
    font-weight: 700;
    margin: 15px 0;
}

.button-white-paddingless {
    color: rgb(107,28,29);
    background: white;
    font-weight: 700;
    margin: 0 5px;
}

img {
    border-radius: 5%;
}